---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40">
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">

          <div
            class=""
          >
  
            <span class="block text-gray-500 dark:text-gray-400">Shuxuan Co., Ltd. &copy; <span id="year"></span></span>
  
            <span class="block text-gray-500 dark:text-gray-400"
              >Need help? <a href="#mailto:myfinance888@gmail.com" class="font-semibold text-gray-600 dark:text-white"> Contact Us</a></span
            >
          </div>
        </div>
      </div>
    </Container>
</footer>