---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Empowering your business with <span class="text-primary dark:text-white">tailored industry solutions.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Shuxuan (数玄株式会社) is a data intelligence solution provider specializing in data analysis and aiding product efficiency through data-driven AI. We also help businesses innovate and enhance profitablity with scientific-based decision making.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="mailto:myfinance888@gmail.com"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Contact Us to Get Started</span
                      >
                    </a>
                </div>
            </div>
        </div>
    </Container>
</div>