---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="./images/fusion.png"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-9/12"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Data Fusion & Integration
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            The Shuxuan data fusion system stands apart from typical big data company data management platforms. It represents Shuxuan's unique big data product, achieved through the integration of diverse big data resources and the application of data analysis technology alongside intelligent labeling algorithms.
          </p>
          </div>
        </div>
      </div>
    </Container>

    <Container>
  
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="./images/analytics.png"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-9/12"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Data Analysis & Insight
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Shuxuan's well-established market research division is among the largest in the country, boasting abundant resources, methodologies, and knowledge bases. They excel in conducting comprehensive market research for entire business chains of enterprises and also cater to government research needs.
          </p>
        </div>
      </div>
    </Container>

    <Container>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="./images/implementation.png"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-9/12"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Data Implementation
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Shuxuan's data application focuses on delving deep into the core of enterprise operations, offering more than just decision-making support. This encompasses fully data-driven CRM precision marketing, artificial intelligence technology deployment, government big data initiatives, smart city projects, intelligent tourism solutions, and ecological advancements, among others.
          </p>
          </div>
        </div>
      </div>
    </Container>

</div>
